:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  height: 100vh;
  padding: 20px;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;
}
.sendbtn {
  border: none;
  padding: 25px;
  max-width: 570px;
  width: 100%;
  color: white;
  background-color: #cc3b3b;
  cursor: pointer;
}
.receivebtn {
  border: none;
  padding: 25px;
  max-width: 570px;
  width: 100%;
  color: white;
  background-color: #3e991e;
  cursor: pointer;
}
.passcodeinput {
  width: 570px;
  max-width: 100%;
  padding: 20px;
  font-size: 20px;
}

.formgroup {
  max-width: 570px;
  width: 100%;
}
.label {
  display: block;
  margin-bottom: 12px;
  font-weight: 600;
}
.sendingarea {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sendingdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.sendinggroup {
  flex: 1;
  max-width: 1000px;
}
.sendingtext {
}
.shipout {
  border: none;
  padding: 15px 25px;
  max-width: 100%;
  color: white;
  background-color: #cc3b3b;
  cursor: pointer;
}
.dropboxarea {
  flex: 1;
  /* overflow: scroll; */
}
.dropboxlist {
  margin-top: 30px;
  list-style: none;
}
.dropboxitem {
  margin-bottom: 20px;
  width: 100%;
  padding: 13px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #bee3ff;
  border-radius: 6px;
}
.dropboxitem__img {
  height: 20px;
  width: 20px;
}
.dropboxitem__span {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sendcontent {
  display: flex;
  gap: 20px;
  align-items: center;
}
.sendinginput {
  flex: 1;

  padding: 20px;
  font-size: 20px;
}
.sendingbtn {
  padding: 20px 50px;
}
.dropareabackground {
  background-image: url(../../public/box.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* backdrop-filter: blur(100px); */
  /* background-size: cover; */
  height: 100%;
}

.sendinglabel {
  cursor: pointer;
}
.sendingfile {
  display: none;
}
.sendingimage {
  height: 40px;
  width: 40px;
}

.receiveingarea {
}
.receivingtext {
}

.dropboxlist {
}
.dropboxitem {
}
.err {
  color: red;
}
.info {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: #17a2b8;
  width: 70%;
  padding: 20px;
  font-size: 20px;
  color: #f8f9fa;
  border-radius: 5px;
}

@media (max-width: 700px) {
  .sendcontent {
    gap: 10px;
  }
  .sendinginput {
    padding: 10px;
  }
  .sendingbtn {
    padding: 10px 20px;
  }
}
@media (max-width: 400px) {
  .sendcontent {
    gap: 0px;
  }
  .sendinginput {
    padding: 10px;
  }
  .sendingbtn {
    padding: 10px 15px;
  }
}
