.main {
  height: 100vh;
  padding: 20px;
}
.buttons {
  display: grid;
  place-content: center;
  height: 100vh;
  gap: 50px;
}
.sendbtn {
  border: none;
  padding: 25px;
  width: 570px;
  max-width: 100%;
  color: white;
  background-color: #cc3b3b;
  cursor: pointer;
}
.receivebtn {
  border: none;
  padding: 25px;
  width: 570px;
  max-width: 100%;
  color: white;
  background-color: #3e991e;
  cursor: pointer;
}
.passcodeinput {
  width: 570px;
  max-width: 100%;
  padding: 20px;
  font-size: 20px;
}

.formgroup {
}
.label {
  display: block;
  margin-bottom: 12px;
  font-weight: 600;
}
.sendingarea {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sendingtext {
}
.dropboxarea {
  flex: 1;
  overflow: scroll;
}
.sendcontent {
  display: flex;
  gap: 20px;
}
.sendinginput {
  flex: 1;

  padding: 20px;
  font-size: 20px;
}
.sendingbtn {
  padding: 20px 50px;
}
.dropareabackground {
  background-image: url(../../public/box.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* background-size: cover; */
}
.receiveingarea {
}
.receivingtext {
}
